header {
   background-color:#99CC33;
   text-align: center;
}

.header-img {
    height: 10%;
}

body {
    background-image: url('/static/img/wood_back.jpg');
}


/* スマホ */

@media screen and (max-width: 767px) { 

   .header-img {
       width: 100%;
       height: 7%;
   }

   summary{
    cursor: pointer;
    }

}

@media screen and (max-width: 1179px) { 
   .header-img {
    width: 100%;
    height: 7%;
   }
   
   summary{
    cursor: pointer;
   }
} 
