.main {
    background-color: white;
    padding-bottom: 0.5em;
}

h2 {
    background-color:#fd5f00;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: white;
}

p {
    color:#382c2c;
    font-weight: bold;
}

@import 'https://fonts.googleapis.com/css?family=Bungee';

.couche1{
	position: relative;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	width:300px;
	height:100px;
	background:black;
	-webkit-box-shadow: 0px 11px 2px #301C09;
    -moz-box-shadow: 0px 11px 2px #301C09;
    box-shadow: 0px 11px 2px #301C09;
    cursor:pointer;
    margin : 80px auto;

    
}

.couche2{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:294px;
	height:94px;
	margin-top:3px;
	margin-left:3px;
	background:#FDA80D;
	-webkit-box-shadow: 0px 9px 0px #AF6B06;
    -moz-box-shadow: 0px 9px 0px #AF6B06;
    box-shadow: 0px 9px 0px #AF6B06;

}

.couche23{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:292px;
	height:80px;
	margin-top:5px;
	margin-left:1px;
    -webkit-box-shadow: 0px -4px 5px 0px #FFDC33;
    -moz-box-shadow:    0px -4px 5px 0px #FFDC33;
	box-shadow:         0px -4px 5px 0px #FFDC33;


}

.couche3{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:0px;
	margin-left:5px;
	width:281px;
	height:82px;
	background:rgba(255,187,42,1);
	-webkit-box-shadow: 0px 4px 3px 0px #FE8906;
	-moz-box-shadow:    0px 4px 3px 0px #FE8906;
	box-shadow:         0px 4px 3px 0px #FE8906;

}

.couche4{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:5px;
	margin-left:3px;
	width:275px;
	height:38px;
	background:#FFD053;
	
}

.couche5{
	position:absolute;
	-webkit-border-radius: 45%;
	-moz-border-radius: 45%;
	border-radius: 45%;
	margin-top:0px;
	margin-left:267px;
	width:7px;
	height:9px;
	background:#FFF1B6;

}

.battle{
	position:absolute;
	font-family: "bungee",sans-serif;
  font-style: normal;
  font-weight: 400;
	color:#FFFFCC;
	font-size:1.7em;
	margin-top:2px; 
	margin-left:85px;
	text-shadow: -1px 0 1px #582E00, 
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;
}

/*effects*/
.couche1:active{
	width:280px;
	height:95px;
}

.couche1:active .couche2{
	width:274px;
	height:89px;
}

.couche1:active .couche23{
	width:272px;
	height:75px;
}

.couche1:active .couche3{
	width:261px;
	height:77px;
}

.couche1:active .couche4{
	width:255px;
	height:32px;
}

.couche1:active .couche5{
	width:6px;
	height:8px;
	margin-left:248px;
}

.couche1:active .battle{
	margin-top:-3px; 
	margin-left:75px;
}

#battle_red{
	text-shadow: -1px 0 1px #990000, 
             	1px 0 1px #990000,
             	0 -1px 1px #990000,
             	0 4px 1px #990000,
             	-2px 4px 1px #990000,
             	2px 3px 2px #990000;
    color:#FFFFCC;
}

#blue2{
	background:#2199FF;
	-webkit-box-shadow: 0px 9px 0px #004FA5;
    -moz-box-shadow: 0px 9px 0px #004FA5;
    box-shadow: 0px 9px 0px #004FA5;

}

#blue23{
	-webkit-box-shadow: 0px -4px 5px 0px #3EBAFF;
    -moz-box-shadow:    0px -4px 5px 0px #3EBAFF;
	box-shadow:         0px -4px 5px 0px #3EBAFF;
	
}

#blue3{
	background:#4CADFF;
	-webkit-box-shadow: 0px 4px 3px 0px #2181FC;
	-moz-box-shadow:    0px 4px 3px 0px #2181FC;
	box-shadow:         0px 4px 3px 0px #2181FC;
		
}

#blue4{
	background:#67BCFF;
	
}

#blue5{
	background:#D9FFFF;
	
	
}

#battle_blue{
	text-shadow: -1px 0 1px #002F83, 
             	1px 0 1px #002F83,
             	0 -1px 1px #002F83,
             	0 4px 1px #002F83,
             	-2px 4px 1px #002F83,
             	2px 3px 2px #002F83;
    color:#FEFEFE;
}