.question-title {
    text-align: center;
    font-weight: 900;
    font-size: 200%;
}

.card-list {
    background-image: url('/static/img/wood.jpg');
}

.attacked {
    color: #888800;
}


img:hover {
	opacity: 0.5 ;
}

.card {
    width:75px;
    height:90px;
}

@media screen and (max-width: 767px) { 
    .card {
        width:120px;
        height: 144px;
    }
}

@media screen and (max-width: 1179px) { 
    .card-list {
        width: 100%;
    }

    .card {
        width:120px;
        height: 144px;
    }


}

