.question-title {
    text-align: center;
    font-weight: 900;
    font-size: 200%;
}

.card-list {
    background-image: url('/static/img/wood.jpg');
}

.attacked {
    color: #888800;
}


img:hover {
	opacity: 0.5 ;
}

.card {
    width:75px;
    height:90px;
}

@media screen and (max-width: 767px) { 
    .card {
        width: 15%;
        height: 10%;
    }

    .card-list {
        text-align:center;
    }
}

@media screen and (max-width: 1179px) { 

    .card {
           width: 22.5%;
           height: 15%;
    }

    .card-list {
        text-align:center;
    }
}

