<html>
   {% load staticfiles %}
<head>
	<meta http-equiv="Content-type" content="text/html; charset=shift-jis" /> 
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
</head>
<body>
<header>
<a href="{{ url }}"><img src="/static/img/clash_calculator.png" class="header-img"></a>
</header>
{% block content %}
{% endblock %}
</body>
</html>