{% extends 'base.html' %}
{% block content %}
{%load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/policy.css' %}">
</head>
<div class="main">
<h2>当サイトに掲載されている広告について</h2>
<p>当サイトでは、第三者配信の広告サービス（Googleアドセンス）を利用しています。</p>
<p>このような広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報 『Cookie』(氏名、住所、メール アドレス、電話番号は含まれません) を使用することがあります。</p>
<p>またGoogleアドセンスに関して、このプロセスの詳細やこのような情報が広告配信事業者に使用されないようにする方法については、こちらをクリックしてください。</p>

<h2>当サイトが使用しているアクセス解析ツールについて</h2>
<p>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。</p>
<p>このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。</p>
<p>このトラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>
<p>この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。</p>
<p>この規約に関して、詳しくはこちら、またはこちらをクリックしてください。</p>
</div>

<a href="{{ url }}/">
    <div class="couche1" id="blue1">
            
            <div class="couche2" id="blue2">
    
                <div class="couche23" id="blue23">
            
                    <div class="couche3" id="blue3">
                
                        <div class="couche4" id="blue4">
    
                            <span class="battle" id="battle_blue">RETURN</span>
                            
                            <div class="couche5" id="blue5">
                            
                            </div>
                
                        </div>
    
                    </div>
    
                </div>
            
            </div>
         
        </div>
    </a>
{% endblock %}