{% extends 'base.html' %}
{% block content %}
{%load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
</head>
<h1 class="title_jp">クラロワ計算機</h1>
<h2 class="description">２体のユニットを選び、<br class="phone_area">倒すのに必要な攻撃回数<br class="phone_area">を調べよう！</h2>
<details class="phone_detail">
		<summary class="phone_detail">補足</summary>
		<div class="wrapper">
			<p class="top-info">
				・防衛サイドは攻撃をしません<br>
				・HPと攻撃力のみでダメ計！<br>
				・ユニット数は考慮しません<br>
				・突撃ダメージあり<br>
				・小屋の攻撃力は0！<br>
				・インフェルノは攻撃できません<br>
				・要望・お問い合わせ → <a class="contact" href="https://twitter.com/trs1141"><i class="fab fa-twitter"></i></a><br>
				・<a href="https://clashroyale.com/ja/" target="_blank">公式サイトリンク</a>
			</p>
			</details>
			<a href="{{ url }}/attacker">
			</div>

    <div class="couche1">
    	
    	<div class="couche2">

    		<div class="couche23">
    	
	    		<div class="couche3">
	    	
	    			<div class="couche4">

                        <span class="battle">START</span>
	    				
	    				<div class="couche5">
	    				
	    				</div>
	    	
	    			</div>

	    		</div>

			</div>
    	
    	</div>
 	
    </div>
</a>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Clash_calculator_smart_phone -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4014848226068727"
     data-ad-slot="8004819585"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock %}