{% extends 'base.html' %}
{% block content %}
{%load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
</head>
<h1 class="title_jp">クラロワ計算機</h1>
<h2 class="description">２体のユニットを選び、<br class="phone_area">倒すのに必要な攻撃回数<br class="phone_area">を調べよう！</h2>
<details class="phone_detail">
		<summary class="phone_detail">補足</summary>
		<div class="wrapper">
			<p class="top-info">
				・防衛サイドは攻撃をしません<br>
				・HPと攻撃力のみで純粋なダメ計をします<br>
				・ラヴァハウンドはパピィを考慮しません<br>
				・突撃ダメージは考慮されます<br>
				・小屋の攻撃力は0に設定されています</p>
			</details>
			<a href="{{ url }}/attacker">
			</div>

    <div class="couche1">
    	
    	<div class="couche2">

    		<div class="couche23">
    	
	    		<div class="couche3">
	    	
	    			<div class="couche4">

                        <span class="battle">START</span>
	    				
	    				<div class="couche5">
	    				
	    				</div>
	    	
	    			</div>

	    		</div>

			</div>
    	
    	</div>
 	
    </div>
</a>
{% endblock %}