{% extends 'base.html' %}
{% block content %}
{%load staticfiles %}
<head>
	<link rel="stylesheet" href="{% static 'css/top.css' %}">
</head>
<h1 class="title_jp">クラロワ計算機</h1>
<h2 class="description">２体のユニットを選び、<br class="phone_area">倒すのに必要な攻撃回数<br class="phone_area">を調べよう！</h2>
	<div id="rule">
		<h1 class="rule-title">ルール</h1>
			<div class="wrapper">
				<div class="top-info">
					<p>・防衛サイドは攻撃をしません</p>
					<p>・HPと攻撃力のみでダメ計！</p>
					<p>・ユニット数は考慮しません</p>
					<p>・小屋、インフェルノは攻撃できません</p>
				</div>
			</div>
<a href="{{ url }}/attacker">
    <div class="couche1">
    	
    	<div class="couche2">

    		<div class="couche23">
    	
	    		<div class="couche3">
	    	
	    			<div class="couche4">

                        <span class="battle">START</span>
	    				
	    				<div class="couche5">
	    				
	    				</div>
	    	
	    			</div>

	    		</div>

			</div>
    	
    	</div>
 	
    </div>
</a>
{% endblock %}